<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 每一个表的命名空间必须不一样 -->	
<mapper namespace="com.besto.epgms.mapper.UpstreamgroupMapper">   


    <!-- 插入用户信息 -->
    <insert id="add"   parameterType="com.besto.epgms.vo.UpstreamgroupVO" useGeneratedKeys="true" keyProperty="id"> 
   		<![CDATA[ 
   		INSERT INTO  epgms_upstreamgroup 
   		(epggroup,systemfile,needuntar,begintime,reqdate,upstream_id,interfacelog_id) 
   		values
   		(#{epggroup},#{systemfile},#{needuntar},#{begintime},#{reqdate},#{upstream_id},#{interfacelog_id})
   		]]> 
    </insert>
    
</mapper> 