<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 每一个表的命名空间必须不一样 -->	
<mapper namespace="com.besto.epgms.mapper.XmlinfoMapper">   


    <!-- 插入用户信息 -->
    <insert id="add"   parameterType="com.besto.epgms.vo.XmlinfoVO" > 
   		<![CDATA[ 
   		INSERT INTO  epgms_xmlinfo 
   		(interfacelog_id , type,url,xmldate,resulttype) 
   		values
   		(#{interfacelog_id},#{type},#{url},#{xmldate},#{resulttype})   
   		]]> 
    </insert>
    
</mapper> 