<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="Page-View-Size" content="1280*720">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/hui_good.css">
	<script type="text/javascript" src="http://117.71.25.104:81/sdms/js/data/ad/iptv_AHlocal.js"></script>
    <script type="text/javascript" src="js/ad_hui.js"></script>
	<script type="text/javascript" src="js/ad_load.js"></script>    
</head>
<body>
	<div class="main">
	    <div class="left_nav">
	        <ul>
	            <li class="programleft program"><img src=""></li>
	            <li class="programleft program"><img src=""></li>
	            <li class="programleft program"><img src=""></li>
	            <li class="programleft program"><img src=""></li>
	            <li class="programleft program"><img src=""></li>
	        </ul>
	    </div>
	    <!--<div class="clear"></div>-->
	    <div class="content">
	        <ul class="con_l">
	            <li class="programright program" style="width: 260px;height: 273px;"><img src=""><span></span></li>
	            <li class="programright program" style="width: 259px;height: 215px;"><img src=""><span></span></li>
	        </ul>
	        <!--<div class="clear"></div>-->
	        <ul class="con_mid">
	            <li class="programright program" style="width: 485px;height: 272px;"><img src=""><span></span></li>
	            <li class="programright program fleft" style="width: 297px;height: 214px;"><img src=""><span></span></li>
	            <li class="programright program fleft" style="width: 178px;height: 214px;"><img src=""><span></span></li>
	        </ul>
	        <!--<div class="clear"></div>-->
	        <ul class="con_r">
	            <li class="programright program" style="width: 255px;height: 159px;"><img src=""><span></span></li>
	            <li class="programright program" style="width: 254px;height: 160px;"><img src=""><span></span></li>
	            <li class="programright program" style="width: 254px;height: 159px;"><img src=""><span></span></li>
	        </ul>
	    </div>
	    <div class="clear"></div>
	    <div class="bottom_nav">
	        <ul>
	            <li class="nav bottom_nav_sel"><img src="img/huigood/huiGood_rec.png"></li>
	            <li class="nav"><img src="img/huigood/huiGood_food.png"></li>
	            <li class="nav"><img src="img/huigood/huiGood_life.png"></li>
	            <li class="nav"><img src="img/huigood/huiGood_socity.png"></li>
	            <li class="nav"><img src="img/huigood/huiGood_opera.png"></li>
	            <li class="nav"><img src="img/huigood/huiGood_subject.png"></li>
	            <li class="nav"><img src="img/huigood/huiGood_shop.png"></li>
	        </ul>
	    </div>
	</div>
	<script src="js/keyPress.js"></script>
	<script src="js/master.js"></script>
	<script src="js/common.js"></script>
	<script src="js/hui_good.js"></script>
	<script src="js/back.js"></script>
</body>
</html>