<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Page-View-Size" content="1280*720">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>徽好看</title>
    <link rel="stylesheet" href="css/huiGood_sub.css">
	<script type="text/javascript" src="js/ad_subhui.js"></script>
	<script type="text/javascript" src="js/ad_load.js"></script>    
</head>
<body>
    <div class="main" id="container">
        <div class="sub_l">
            <ul>
                <li class="program" style="width: 222px;height: 250px;"><img src=""><span></span></li>
                <li class="program" style="width: 222px;height: 228px;"><img src=""><span></span></li>
            </ul>
        </div>
        <div class="sub_mid">
            <ul>
                <li class="media" style="width: 591px;height: 331px;margin-bottom: 6px;"></li>
                <li class="program fleft" style="width: 285px;height: 146px;"><img src=""><span></span></li>
                <li class="program fleft" style="width: 286px;height: 146px;"><img src=""><span></span></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="sub_r">
            <ul>
                <li>
                    <img src="img/huigood/huiGood_sub_slide.png">
                    <div class="sub_r_slideInfo">
                        <ul id="programlist" style="width: 283px;height: 333px;">
                            <!--<li class="programitem"><i></i><em>夏季营养饮食抵御酷暑不长胖</em></li>
                            <li class="programitem"><i></i><em>夏季营养饮食抵御酷暑不长胖</em></li>
                            <li class="programitem"><i></i><em>夏季营养饮食抵御酷暑不长胖</em></li>
                            <li class="programitem"><i></i><em>夏季营养饮食抵御酷暑不长胖</em></li>
                            <li class="programitem"><i></i><em>夏季营养饮食抵御酷暑不长胖</em></li>
                            <li class="programitem"><i></i><em>夏季营养饮食抵御酷暑不长胖</em></li>
                            <li class="programitem"><i></i><em>夏季营养饮食抵御酷暑不长胖</em></li>
                            <li class="programitem"><i></i><em>夏季营养饮食抵御酷暑不长胖</em></li>
                            <li class="programitem"><i></i><em>夏季营养饮食抵御酷暑不长胖</em></li>-->
                        </ul>
                        <div class="sub_r_slide">
                            <img src="img/huigood/hui_good_sub_scroll.png">
                            <img src="img/huigood/hui_good_sub_slide.png">
                        </div>
                    </div>
                </li>
                <li class="program" style="width: 317px;height: 145px;"><img src=""><span></span></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="bottom_nav">
            <ul>
                <li class="nav"><img src="img/huigood/huiGood_rec.png"></li>
                <li class="nav"><img src="img/huigood/huiGood_food.png"></li>
                <li class="nav"><img src="img/huigood/huiGood_life.png"></li>
                <li class="nav"><img src="img/huigood/huiGood_socity.png"></li>
                <li class="nav"><img src="img/huigood/huiGood_opera.png"></li>
                <li class="nav"><img src="img/huigood/huiGood_subject.png"></li>
                <li class="nav"><img src="img/huigood/huiGood_shop.png"></li>
            </ul>
        </div>
    </div>
    <!--<iframe id="contentDataFrame" name="contentDataFrame" frameborder="0" height="0" width="0"></iframe>-->
	<iframe id="videoPlay" name="videoPlay" src="vodplay.html" width="591px" height="332px" style="position: absolute; left:296px;top:106px;"></iframe>
	<script src="js/config.js"></script>
	<script src="js/keyPress.js"></script>
	<script src="js/master.js"></script>
	<script src="js/common.js"></script>
	<script src="js/huiGood_sub.js"></script>
	<script src="js/media.js"></script>
	<script src="js/back.js"></script>
</body>
</html>
