<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>首页</title>
<meta name="Page-View-Size" content="1280*720">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/index.css">
<script type="text/javascript" id="jsPathScript" src="../../static_data/js/data/ad/iptv_AHindex.js"></script>

<script type="text/javascript" src="js/ahtv_index.js"></script>
<script type="text/javascript" src="js/ad_load.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body
	style="background: url(img/index/index_bg.png) #000 no-repeat; width: 1280px; height: 720px;">
	<!-- <div id="tempid" style="color:red;"></div>-->

	<!--顶部状态栏-->
	<div class="marquee"></div>
	<!--顶部状态栏-->

	<!--核心内容-->
	<div id="focusChannel">
		<!-- <iframe src="" height="604" width="804" id="channelPlay"></iframe> -->
	</div>
	<div id="foucus">
		<img src="" width="580" height="315" id="img_center">
		<div class="mask">
			<div class="maskborder">
				<img src="img/index/tab_hover.png" width="117">
			</div>

			<ul class="tabUl">
				<li class="program program_0"><img src="" width="106.66"
					id="img_0"></li>
				<li class="program program_1"><img src="" width="106.66"
					id="img_1"></li>
				<li class="program program_2"><img src="" width="106.66"
					id="img_2"></li>
				<li class="program program_3"><img src="" width="106.66"
					id="img_3"></li>
				<li class="program program_4"><img src="" width="106.66"
					id="img_4"></li>
			</ul>
		</div>
	</div>
	<div class="program program_5" id="pros5">
		<img src="img/index/img_5.png" width="146">
	</div>
	<div id="program_6">
		<ul class="historyS" id="pros678">
			<li class="program program_6" id="recentWatch_0">生化危机:终章</li>
			<li class="program program_7" id="recentWatch_1">长城</li>
			<li class="program program_8" id="recentWatch_2">喜欢你</li>
		</ul>
	</div>

	<div class="program program_9" id="pros9">
		<img src="img/index/img_7.png" width="174">
	</div>
	<div class="program program_10" id="pros10">
		<img src="img/index/img_8.png" width="174">
	</div>
	<div class="program program_11" title="可编辑" name="editor" >
		<img src="" width="291" id="img_5">
	</div>
	<div class="program program_12" title="可编辑" name="editor" >
		<img src="" width="243" id="img_6">
	</div>
	<div class="program program_13" title="可编辑" name="editor" >
		<img src="" width="243" id="img_7">
	</div>

	<!--导航-->
	<div id="nav" style="background: none">
		<div class="nav program">
			<img src="img/index/n_1.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_2.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_3.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_4.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_5.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_6.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_7.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_8.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_9.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_10.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_11.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_12.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_13.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_14.png">
		</div>
		<div class="nav program">
			<img src="img/index/hui_good_logo.png">
		</div>
		<div class="nav program">
			<img src="img/index/n_16.png">
		</div>
	</div>
	<div class="program program30" id="pros30">
		<img src="img/index/zjgk_titile.png">
	</div>

	<iframe id="dataFrame" name="dataFrame" frameborder="0" height="0"
		width="0"></iframe>
	<script src="js/keyPress.js"></script>
	<script src="js/master.js"></script>
	<script src="js/index.js"></script>
	<script src="js/common.js"></script>
	<script src="js/back.js"></script>

</body>

</html>
