<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>电影一级</title>
<meta name="Page-View-Size" content="1280*720">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/news.css">
<script type="text/javascript"
	src="http://117.71.25.104:81/sdms/js/data/ad/iptv_AHnews.js"></script>
<!--  <script type="text/javascript" src="js/ad/iptv_AHnews.js"></script>-->
<script type="text/javascript" src="js/ad_news.js"></script>
<script type="text/javascript" src="js/ad_load.js"></script>
<script src="js/media.js"></script>
</head>
<body bgcolor=transparent
	style="background:url(img/news/newsBG.png) no-repeat; width:1280px; height:720px;">
	<!--<div id="tempid" style="color:red;">news.jsp01</div>-->
	<div id="container">
		<div class="newsTitle">新闻</div>
		<div id="classic">
			<!--  <div class="classic sel"></div>
        <div class="classic">安徽1</div>
        <div class="classic">国内1</div>
        <div class="classic">国际1</div>
        <div class="classic">社会1</div>
        <div class="classic2">军事1</div>
        <div class="classic2">财经1</div>
        <div class="classic2">体育1</div>
        <div class="classic2">更多1</div>-->
		</div>

		<div class="vedioBox">
			<img src="" width="603" height="353" id="vedioBox">
		</div>
		<div class="columnTitle">专题</div>
		<div class="news_1 newsImg">
			<img id="img_0" src="" width="330" height="185">
		</div>
		<div class="news_2 newsImg">
			<img id="img_1" src="" width="330" height="185">
		</div>
		<div class="news_3 newsImg">
			<img id="img_2" src="" width="330" height="185">
		</div>

		<!--文字列表-->
		<div id="textList"></div>
		<div id="scrollbars">
			<img class="news_scroll" src="img/news/news_scroll.png"> <img
				class="news_slide" src="img/news/news_slide.png">
		</div>
	</div>
	<iframe id="videoPlay" name="videoPlay" src="vodplay.html" width="603px" height="353px" style="position: absolute; left:259px;top:82px;"></iframe>
	<script src="js/config.js"></script>
	<script src="js/keyPress.js"></script>
	<script src="js/master.js"></script>
	<script src="js/common.js"></script>
	<script src="js/news.js"></script>
	<script src="js/back.js"></script>
</body>
</html>