<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>演员详情</title>
		<link rel="stylesheet" href="css/common.css"/>
		<link rel="stylesheet" href="css/person_movieList.css"/>
	</head>
	<body>
		<div class="box">
			<div class="actorName"></div>
			<div class="movieList">
				<ul>
					<li class="movie">
						<div class="movieName"></div>
						<img src="" alt="" width="172" height="254" />
					</li>
					<li class="movie">
						<div class="movieName"></div>
						<img src="" alt="" width="172" height="254" /></li>
					<li class="movie">
						<div class="movieName"></div>
						<img src="" alt="" width="172" height="254" /></li>
					<li class="movie">
						<div class="movieName"></div>
						<img src="" alt="" width="172" height="254" /></li>
					<li class="movie">
						<div class="movieName"></div>
						<img src="" alt="" width="172" height="254" /></li>
					<li class="movie">
						<div class="movieName"></div>
						<img src="" alt="" width="172" height="254" /></li>
					<li class="movie">
						<div class="movieName"></div>
						<img src="" alt="" width="172" height="254" /></li>
					<li class="movie">
						<div class="movieName"></div>
						<img src="" alt="" width="172" height="254" /></li>
					<li class="movie">
						<div class="movieName"></div>
						<img src="" alt="" width="172" height="254" /></li>
					<li class="movie">
						<div class="movieName"></div>
						<img src="" alt="" width="172" height="254" /></li>
				</ul>
				<!--第二行向下翻页换数据-->
			</div>
		</div>
		<iframe id="dataFrame" name="dataFrame" frameborder="0" height="0" width="0"></iframe>
	    <script src="js/keyPress.js"></script>
		<script src="js/master.js"></script>
		<script src="js/common.js"></script>
		<script src="js/back.js"></script>
		<script src="js/person_movieList.js"></script>
	</body>
</html>
