* {
	margin: 0;
	padding: 0;
	list-style: none;
}
.box {
	width: 800px;
	height: 450px;
	position: relative;
	/* float: left; */
	background-color: #cccccc;
}

.pic {
	position: absolute;
	left: 800px;
	top: 30px;
}

.eduit {
	width: 230px;
	height: 435px;
	position: absolute;
	left: 1050px;
	top: 40px;
	border: 2px solid red;
}

ul,
li {
	margin: 0;
	padding: 0;
	height: 44px;
}

button {
	width: 101px;
	height: 35px;
}
#clearBtn{
	/* position: absolute; */
	/* left: 130px; */
	/* top: 352px; */
}
#ser{
	width: 85px;
	height: 24px;
	position: absolute;
	left: 164px;
	top:0;
}
#sx{
	width: 85px;
	height: 24px;
	position: absolute;
	left: 75px;
	top: 0;
}
.text{
	width:200px;
	position: relative;
	left: 850px;
	top: -410px;
}
.imgCss{
	width:100px;
	height: 100px;
	display: block;
}