<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name='Page-View-Size' content='1280*720'>
<meta name='viewport'
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
<title>box区域</title>
<style>
* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	width: 1280px;
	height: 720px;
}

.main {
	width: 66%;
	height: 66%;
	transform: scale(1.515151515151);
	transform-origin: 0 0;
}

.main img, .newText {
	position: absolute;
}

.newText a {
	width: 100%;
	height: 100%;
	display: block;
}
</style>
<style>
.selStyle {
	border: 4px solid #00E5FF !important;
	box-shadow: 0px 0px 10px #00E5FF;
	border-radius: 10px;
	z-index: 1010;
}

img.program {
	border: 4px solid transparent
}
</style>
</head>
<body>
	<div class="main">
		<img id="img0_1" draggable="false" src="1522138673960img/img0_1.JPEG"
			style="width: 844.8px; height: 475.2px; left: 0px; top: 0px; z-index: 0;"><img
			id="img1_1" draggable="false" src="1522138673960img/img1_1.JPEG"
			style="width: 575.52px; height: 314.16px; left: 0px; top: 0px; z-index: 1;"
			title="http://10.178.30.103:8080/bytuetechAPI/jsp/ahiptvdemo/movieDet2.html?code=33765&amp;category_id=1001006"
			class="program"><img id="img2_1" draggable="false"
			src="1522138673960img/img2_1.JPEG"
			style="width: 240.24px; height: 141.9px; left: 0px; top: 0px; z-index: 1;"
			title="http://10.178.30.103:8080/bytuetechAPI/jsp/ahiptvdemo/movieDet2.html?code=34294&amp;category_id=1001008"
			class="program">
		<div class="program newText newText_0 sel"
			style="width: 345.18px; height: 155.1px; left: 357.72px; top: 199.98px; transform: rotate(0deg); border-radius: 50%; z-index: 1;">
			<a
				href="http://10.178.30.103:8080/bytuetechAPI/jsp/ahiptvdemo/movieDet2.html?code=21958&amp;category_id=1001008"></a>
		</div>
	</div>
</body>
</html>
<script>
	var newztParas = [ {
		up : -1,
		right : 1,
		down : 1,
		left : -1
	}, {
		up : 0,
		right : 2,
		down : 2,
		left : 0
	}, {
		up : 1,
		right : -1,
		down : -1,
		left : 1
	} ]
</script>
<script src="js/keyPress.js"></script>
<script src="js/master.js"></script>
<script src="js/common.js"></script>
<script src="js/move.js"></script>
<script src="js/back.js"></script>





