@charset "utf-8";
.loading{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
    z-index: 500;
    display: none;
    
}
.loading img{
    width: 100%;
}
.h_bj{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .5;
    z-index: 1000;
    display: none;
    filter:alpha(opacity=50);
    /* IE */
    -moz-opacity:0.5;
    /* 老版Mozilla */
    -khtml-opacity:0.5;
    /* 老版Safari */
    _position: absolute;
    _bottom: auto;
    _top:expression(eval(document.documentElement.scrollTop));
}