<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
	"-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- - - - - - - - 物理分页拦截器 - - - - - - - -->
    <plugins>
       <plugin interceptor="com.besto.interceptor.PageInterceptor"/>
    </plugins>

</configuration>	